@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
	background-color: #E8D130;  
}
a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color: #B6B4B4; 
	color:#0D0D0D  ; 
}
a:hover {
	font-size:200%;
	background-color: #E8D130; 
	color: #0D0D0D; 
}

