@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #waves {
border: black 5px solid;
}
 
 #tsunami {
display: none;
border: black 5px solid;
}

.choices {
cursor: pointer;
}
body {
	text-align: center;
	background-color: #A1BBE7;  
}

a {
	padding: 15px;
	margin: 3px;
	font-size: 125%;
	background-color: #A1BBE7; 
	color: #848181; 
}

a:hover {
	font-size:200%;
	background-color: #A1BBE7 ; 
	color: #F9F9F7; 
}
